.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: inherit;
    bottom: -52px;
    width: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border: 2px solid #333;
    background-color: #ccc;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: 20px;
}

.carousel-control-prev {
    justify-content: flex-end;
    padding-right: 30px;
}

.carousel-control-next {
    justify-content: flex-start;
    padding-right: 30px;
}

.carousel {
    width: 130%;
    left: -15%;
}

.overflow {
    overflow: hidden;
    height: 400px;
}