* {
  box-sizing: border-box;
}
.tombol {
  position: relative;
  top: -50px;
  margin: auto;
  width: 100px;
}
.nav-link {
  text-decoration-color: black;
}

.hero-section {
  background-color: #f1f3ff;
  // height: 404px;
  margin-top: 70px;
  overflow-x: hidden;

  .row {
    padding-top: 50px;

    .hero-info-wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      margin: auto 0;

      .content-wrap {
        p {
          margin-top: 10px;
          max-width: 500px;
        }
      }
    }

    .hero-image-wrapper {
      padding: 0;

      img {
        padding: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;
        margin-left: 6.2rem;
      }
    }
  }
}

.hightlight-section {
  .container {
    margin-top: 100px;
  }
}

.testimonial-section {
  .testimonial-wrapper {
    margin-top: 100px;
    overflow-x: hidden;

    .carousel {
      width: 150%;
      left: -25%;
      height: 100%;
      .carousel-item {
        column-gap: 50px;
      }
    }

    .button-wrapper {
      button {
        background-color: #5cb85f;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.cta-section {
  .cta-wrapper {
    background-color: #0d28a6;
    width: 100%;
    height: 326px;
    margin-top: 100px;
    border-radius: 10px;

    .tulisan {
      width: 100%;
      margin: auto;

      button {
        width: 140px;
        height: 36px;
        color: white;
        background-color: #5cb85f;
        border-radius: 5px;
        border-style: none;
        font-size: 15px;

        margin-top: 20px;
      }

      h1 {
        padding-top: 80px;
      }
      p {
        margin-top: 30px;
      }
    }
  }
}

.faq-section {
  margin-top: 100px;

  .accordion-item {
    margin-bottom: 20px;
  }
}
footer {
  margin-top: 100px;

  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
      a {
        color: #343a40;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .hero-section {
    min-height: 300px;
    margin-top: 60px;
    .container {
      .row {
        padding-top: 0;
        height: 100%;
      }
    }
    .hero-info-wrapper {
      padding-top: 4rem;
      position: relative;
      width: 100%;
      max-height: 300px;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 300px;
        display: block;
        background: rgba(0, 0, 0, 0.1);
      }

      h1,
      p {
        text-align: center;
      }
    }
    .hero-image-wrapper {
      position: absolute;
      margin-top: 5.5rem;
      img.hero-img {
        opacity: 0.1;
        width: 90%;
        margin-left: 3rem;
      }
    }
  }

  .hightlight-section {
    .container {
      margin-top: 10px;

      .col-img-wraper {
        position: absolute;
        width: 100%;
        max-height: 300px;
        z-index: -1;

        img {
          width: 95%;
          opacity: 0.1;
          margin-top: 5rem;
        }
      }

      .content-wrapper {
        padding-top: 2rem;
        width: 100%;

        p {
          padding-top: 1rem;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .testimonial-section {
    width: 100%;
    overflow-x: hidden;
    .testimonial-wrapper {
      .carousel {
        width: 95%;
        left: 0%;
      }
    }
  }

  .cta-section {
    padding: 20px;
    .cta-wrapper {
      height: auto;
      margin-top: 20px;
      border-radius: 10px;
      padding-bottom: 30px;

      .tulisan {
        margin: auto;

        button {
          width: 140px;
          height: 36px;
          color: white;
          background-color: #5cb85f;
          border-radius: 5px;
          border-style: none;
          font-size: 15px;

          margin-top: 20px;
        }

        h1 {
          padding-top: 50px;
        }
        p {
          margin-top: 30px;
        }
      }
    }
  }

  .faq-section {
    .title {
      text-align: center;
    }
  }

  footer {
    margin-top: 50px;

    .row {
      .col-12 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin-bottom: 2rem;
      }
      ul {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .hero-section {
    margin-top: 60px;
    padding-bottom: 40px;

    .row {
      padding-top: 50px;
      .hero-image-wrapper {
        img {
          padding: 0;
          width: 100%;
          height: auto;
          object-fit: cover;
          position: relative;
          margin-left: 2.5rem;
        }
      }
    }
  }

  .hightlight-section {
    margin-top: 5rem;
    .container {
      margin-top: 10px;
      .col-img-wraper {
        .image-wrapper {
          width: 100%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
